{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}
  <div class="row">
    <div class="col-sm-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
      <h1>Create Dummy Data</h1>
      <p>
        Create a tournament 30 days from now with a set of plausible teams and hosts.
      </p>
      <form method="post">
        {{ form|crispy }}
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Create Tournament</button>
      </form>
    </div>
  </div>
{% endblock %}
