{% extends 'base.html' %}

{% block content %}
<div class="container">
	<h1 class="border-bottom pb-2 mb-5">{{ tournament.name }}</h1>

	<div class="row my-3">
    	<div class="col-sm-4">
    		<h3>Start Date</h3>
    	</div>
    	<div class="col-sm-4">
    		<h3>End Date</h3>
    	</div>
    	<div class="col-sm-4">
    		<h3>Location</h3>
    	</div>
    </div>

    <div class="row">
    	<div class="col-md-4">
    		<p>{{ tournament.date_start }}</p>
    	</div>
    	<div class="col-md-4">
    		<p>{{ tournament.date_end }}</p>
    	</div>
    	<div class="col-md-4">
    		<p>{{ tournament.location }}</p>
    	</div>
    </div>

    <div class="my-5">
        {% if tournament.description %}
            <h3>Description</h3>
            {{ tournament.description|linebreaks }}
        {% endif %}
    </div>

    <div class="row mt-5">
        {% if tournament.is_locked %}
            <div class="col-sm-12 alert alert-warning">
                <p><strong>Tournament Locked</strong></p>
                <p>This tournament is no longer accepting new hosts or teams.</p>
            </div>
        {% else %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Register Team</h3>
                        <p class="card-text">
                            Register your team for this tournament to be matched with a host.
                        </p>
                        <a class="btn btn-primary" href="{% url 'housing:team-create' tournament.slug_key tournament.slug %}">Register Team</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Register Host</h3>
                        <p class="card-text">
                            Register your accomodation to host a team for this tournament.
                        </p>
                        <a class="btn btn-success" href="{% url 'housing:host-create' tournament.slug_key tournament.slug %}">Register Host</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row mt-4">
        <div class="col text-center">

            <iframe width="600" height="400"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD9DlzWco-IDu97eFELfA_lwZn17c0Qwnk
            &q={{tournament.location|urlencode}}" allowfullscreen>
        </iframe>

        </div>
    </div>



</div>
{% endblock %}
