{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
	<h1 class="display-2">
		Ultimate Housing
	</h1>
	<p class="lead">
		An application that easily finds your team free housing.
	</p>
	<hr class="my-2">
	<p>
		Create a tournament or find an existing one
	</p>
	<a class="btn btn-primary" href="{% url 'housing:tournament-list' %}" role="button">
		Find Tournament
	</a>
	<a class="btn btn-secondary" href="{% url 'housing:tournament-create' %}" role="button">
		Register Tournament
	</a>
</div>

{% endblock %}